<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Pessoas Fisicas</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<h1>LISTA DE PESSOAS FISICAS</h1>
<a href="/pessoasfisicas/form">Adicionar Nova Pessoa Física</a>

<table class="table" border="1">
    <thead>
    <tr>
        <th>Id</th>
        <th>Nome</th>
        <th>CPF</th>
        <th colspan="2">Operações</th>
    </tr>
    </thead>
    <tr th:each="p : ${pessoasFisicas}">
        <td th:text="${p.id}"> </td>
        <td th:text="${p.nome}"> </td>
        <td th:text="${p.cpf}"> </td>
        <td> <a th:href="@{/pessoasfisicas/edit/{id}(id=${p.id})}">&#128221;</a> </td>
        <td> <a onclick="return window.confirm('Tem certeza que deseja excluir este registro?')"  th:href="@{/pessoasfisicas/remove/{id}(id=${p.id})}">&#10060;</a> </td>
    </tr>
</table>

</body>
</html>