<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Cadastro de Pessoa Jurídica</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<h1>CADASTRO DE PESSOA JURÍDICA</h1>

<form th:action="${pessoaJuridica.id == null} ?
                @{/pessoasjuridicas/save} :
                @{/pessoasjuridicas/update}"
      th:object="${pessoaJuridica}" method="post">

    <label>
        <input type="hidden" th:field="*{id}">
    </label>
    <label>
        <input type="text" th:field="*{nome}"  placeholder="Nome">
    </label>
    <label>
        <input type="text" th:field="*{cnpj}"  placeholder="CNPJ">
    </label>

    <input type="submit" value="Enviar">
</form>

</body>
</html>