<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>LOJA</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<h1>LOJA</h1>

<h2>Escolha o Cliente</h2>
<fieldset>
    <form th:action="@{/loja/}" method="get">
    <select name="tipo" id="tipo" onchange="submit()">
        <option value="">Selecione</option>
        <option value="pf" th:selected="${tipo=='pf'}">Pessoa Física</option>
        <option value="pj" th:selected="${tipo=='pj'}">Pessoa Jurídica</option>
    </select>
    <p th:text="${pessoaSelecionada}"></p>
    </form>

    <form th:if="${tipo=='pf'}" th:action="@{/loja/setpf}" th:object="${pessoa}" method="post">
        <select class="form-control" id="pessoaFisica" name="id">
            <option value="0">Selecione PF</option>
            <option th:each="pessoaFisica : ${pessoasFisicas}" th:value="${pessoaFisica.getId()}" th:text="${pessoaFisica.getNome()}"></option>
        </select>
        <input type="submit" value="&#128722;"/>
    </form>

    <form th:if="${tipo=='pj'}" th:action="@{/loja/setpj}" th:object="${pessoa}" method="post">
        <select class="form-control" id="pessoaJuridica" name="id">
            <option value="0">Selecione PJ</option>
            <option th:each="pessoaJuridica : ${pessoasJuridicas}" th:value="${pessoaJuridica.getId()}" th:text="${pessoaJuridica.getNome()}"></option>
        </select>
        <input type="submit" value="&#128722;"/>
    </form>
</fieldset>


<h2>Escolha os Produto</h2>
<table class="table" border="1">
    <thead>
    <tr>
        <th>Descrição</th>
        <th>Valor</th>
        <th>Operações</th>
    </tr>
    </thead>
    <tr th:each="p : ${produtos}">
        <form th:action="@{/loja/save}" th:object="${item}" method="post">
            <input type="hidden" th:name="produto.id" th:value="${p.id}">
            <td th:text="${p.descricao}" th:align="left"> </td>
            <td th:text="${'R$ '+ p.valor}" th:align="right"> </td>
            <td>
                <label>
                    <input type="number" th:field="*{quantidade}" size="1"/>
                </label>
                <input type="submit" value="&#128722;"/>
            </td>
        </form>
    </tr>
</table>

<h2>Carrinho</h2>
<table class="table" th:border="1">
    <thead>
    <tr>
        <th>Descrição</th>
        <th>Valor Un</th>
        <th>Quantidade</th>
        <th>Total Item</th>
        <th>Operações</th>
    </tr>
    </thead>
    <tr th:each="i,posicao : ${session.venda.items}">
        <td th:text="${i.produto.descricao}"> </td>
        <td th:text="${i.produto.valor}"> </td>
        <td th:text="${i.quantidade}"> </td>
        <td th:text="${i.total()}"> </td>
        <td>
            <a onclick="return window.confirm('Tem certeza que deseja excluir este produto?')"
               th:href="@{/loja/removeitem/{index}(index=${posicao.index})}"><button>&#10060;</button>
            </a>
        </td>
    </tr>
    <tr>
        <td colspan="5" height="20"></td>
    </tr>
    <tr>
        <td colspan="3"><b>Valor total:</b></td>
        <td th:text="${session.venda.total()}"></td>
        <td>
            <a onclick="return window.confirm('Deseja confirmar esta venda?')"
               th:href="@{/loja/finalizar}"><button>Finalizar</button>
            </a>
        </td>
    </tr>
</table>

<h2>Endereço de entrega</h2>
<p th:text="${enderecoEntrega}"> </p>
<h3>Caso desejado, informar um endereço de entrega diferente.</h3>
<form th:action="@{/loja/saveendereco}" th:object="${endereco}" method="post">
    <p>
        <label for="logradouro">Logradouro:</label>
        <input id="logradouro" th:field="*{logradouro}"/>
    </p>
        <p>
        <label for="complemento">Complemento:</label>
        <input id="complemento" th:field="*{complemento}"/>
    </p>
        <p>
        <label for="bairro">Bairro:</label>
        <input id="bairro" th:field="*{bairro}"/>
    </p>
    <p>
        <div>Cidade:</div>
            <select class="form-control" th:field="*{cidade.id}">
                <option value="0">Selecione Cidade</option>
                <option th:each="cidade : ${cidades}" th:value="${cidade.getId()}" th:text="${cidade.getNome()}"></option>
            </select>
    </p>
    <p>
    <input type="submit" value="Salvar"/>
    </p>
</form>

</body>
</html>